* {
  box-sizing: border-box;
  margin: 0;
}

/* MOBILE CSS */

.main-container {
  margin: 0;
}

.hero-container {
  background: url(images/hero_background.png);
  background-size: cover;
  padding: 0vw 0vw 10vw 0vw;
}

.hero-container__logo-nav-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.hero-container__logo-wrapper {
  width: 30vw;
}

.hero-container__logo {
  width: 70%;
  height: 12vw;
}

.hero-container-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  transform: translate(0%, -300%);
  position: relative;
}

.hero-container-nav-items {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  position: relative;
  padding: 0vw 0vw 0.5vw 0vw;
}

.hero-container-nav-items a {
  color: #000000;
  font-family: Sen;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
  font-size: 2vw;
  padding: 0vw 2vw 0vw 0vw;
}

.hero-container__hero-image-wrapper {
  position: relative;
  width: 100%;
}

.hero-container__hero-image {
  height: auto;
  width: 100%;
  display: flex;
}

.hero-container__hero-content {
  display: flex;
}

.hero-container__hero-socials {
  display: flex;
  position: relative;
  transform: translate(40%, 0%);
}

.hero-container__hero-socials-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  list-style: none;
}

.hero-container__hero-socials a {
  padding: 0px 10px 0px 0px;
}

.hero-container__hero-text {
  position: relative;
  left: 42%;
  transform: translate(-50%, 35%);
  width: 80%;
  padding: 0vw 0vw 11vw 0vw;
}

.hero-container__subtitle-container {
  width: 40%;
  padding-bottom: 10px;
}

.subtitle {
  width: 258px;
  height: 22px;
  max-width: 100%;
  font-family: "Sedgwick Ave", cursive;
  text-transform: uppercase;
  font-style: normal;
  line-height: 40px;
}

.hero-container__hero-title-container {
  width: 60%;
}

.hero-title {
  width: 100%;
  height: 15vw;
  max-width: 100%;
  font-size: 5vw;
  font-family: "Sen", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  line-height: 4.5vw;
}

.hero-container__hero-btn-container {
  width: 35%;
}

.listen-btn {
  width: 220px;
  height: 42px;
  max-width: 100%;
  height: auto;
  background: #000000;
  border-radius: 21px;
  color: #f6c82a;
  text-transform: uppercase;
  font-family: "Sen", sans-serif;
  font-weight: 800;
  font-style: normal;
}

/* RELEASES */

.releases-container {
  background: url("images/releases-bg.png"), url("images/Mask.png");
  background-position: left, right;
  background-repeat: no-repeat, no-repeat;
  background-size: 85%, 100%;
  padding: 1rem;
}

.releases-container__releases-bg-wrapper {
  position: relative;
  width: 100%;
}

.releases-container__releases-bg {
  height: auto;
  width: 100%;
  display: flex;
}

.releases-container__title-wrapper {
  position: relative;
  width: 100%;
}

.releases-container__releases-title {
  width: 50%;
  height: 10vw;
  padding: 10px 0px;
  height: auto;
  font-family: "Sen", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
  letter-spacing: 1vw;
  font-size: 8vw;
}

.releases-container__releases-container:hover .release-container__release {
  display: flex;
  opacity: 0.5;
}

.releases-container__releases-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.release-container__release {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.btn-container__releases-btn {
  width: 40%;
}

.releases-btn {
  width: 264px;
  height: 30px;
  max-width: 100%;
  background: #f6c82a;
  border-radius: 21px;
  color: #000000;
  text-transform: uppercase;
  font-family: "Sen", sans-serif;
  font-weight: 800;
  font-style: normal;
  position: relative;
  right: -150%;
}

/* TOUR */

.tour-container {
  background: url("images/tour-bg.png") no-repeat;
  background-size: cover;
  padding: 1rem;
}

.tour-container__title-wrapper {
  position: relative;
  width: 100%;
}

.tour-container__tour-title {
  width: 50%;
  height: 10vw;
  padding: 10px 0px;
  height: auto;
  font-family: "Sen", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
  letter-spacing: 1vw;
  font-size: 8vw;
}

.main-parent {
  display: flex;
}

.row-container {
  display: flex;
}

.row-container__date-ticket-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.parent-dates-container {
  display: flex;
  align-items: flex-end;
}

.dates-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dates-container__date-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.dates-container__date {
  color: white;
  height: auto;
  font-family: "Sedgwick Ave", cursive;
  text-transform: uppercase;
  font-style: normal;
}

.dates-container__club {
  color: white;
  height: auto;
  text-transform: uppercase;
  font-family: "Sen", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.dates-container__location {
  color: white;
  height: auto;
  text-transform: uppercase;
  font-family: "Sen", sans-serif;
  font-style: normal;
}

.dates-container__tour-line {
  width: 90%;
  height: auto;
}

.tickets-container {
  display: flex;
  width: 100%;
  text-transform: uppercase;
  font-family: "Sen", sans-serif;
  font-style: normal;
  font-weight: 800;
  padding: 0px 19px 20px 0px;
}

.tickets-container__link-items {
  display: flex;
  list-style: none;
}

.tickets-container__link-items a {
  text-decoration: none;
  color: #f6c82a;
}

.tickets-container__ticket-text {
  padding: 0px 20px 0px 0px;
}

.tickets-container__vip-text {
  padding: 0px 20px 0px 0px;
}

.tickets-container__rsvp-text {
  padding: 0px 20px 0px 0px;
}

.btn-container__tours-btn {
  width: 40%;
}

.tours-btn {
  width: 264px;
  height: 30px;
  max-width: 100%;
  background: #f6c82a;
  border-radius: 21px;
  color: #000000;
  text-transform: uppercase;
  font-family: "Sen", sans-serif;
  font-weight: 800;
  font-style: normal;
  position: relative;
  right: -150%;
}

.some-page-wrapper {
  margin: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.blue-column {
  background-color: blue;
  height: 300px;
}

.green-column {
  background-color: green;
  height: 300px;
}

/* VIDEOS */
.videos-container {
  background: url("images/Mask.png") no-repeat;
  background-size: 100% 100%;
  padding: 1rem;
}

.videos-container__title-wrapper {
  position: relative;
  width: 100%;
}

.video-container__videos-title {
  width: 50%;
  height: 10vw;
  padding: 10px 0px;
  height: auto;
  font-family: "Sen", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
  letter-spacing: 1vw;
  font-size: 8vw;
}

.videos-container__videos-container {
  display: flex;
}

.videos-container__videos-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.videos-container__video {
  width: 110%;
}

.videos-container__video-text {
  display: flex;
}

.videos-container__text-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
}

.videos-container__video-title-wrapper {
  display: flex;
  width: 100%;
  padding: 0vw 0vw 1vw 0vw;
}

.videos-container__video-title {
  width: 100%;
  height: auto;
  font-family: "Sen", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  line-height: 25px;
  color: white;
  font-size: 5vw;
}

.videos-container__video-subtitle {
  width: 100%;
  height: auto;
  font-family: "Sedgwick Ave", cursive;
  text-transform: uppercase;
  font-style: normal;
  color: white;
  white-space: nowrap;
  font-size: 2vw;
}

.btn-container__videos-btn {
  width: 40%;
}

.videos-btn {
  width: 264px;
  height: 30px;
  max-width: 100%;
  background: #f6c82a;
  border-radius: 21px;
  color: #000000;
  text-transform: uppercase;
  font-family: "Sen", sans-serif;
  font-weight: 800;
  font-style: normal;
  position: relative;
  right: -25%;
}

.video-1-container:hover .videos-container__video {
  opacity: 0.5;
}

.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}

/* STORE */

.store-container {
  padding: 1rem;
  background-color: #f6c82a;
}

.store-container__title-wrapper {
  position: relative;
  width: 100%;
}

.store-container__store-title {
  width: 50%;
  height: 10vw;
  padding: 10px 0px;
  height: auto;
  font-family: "Sen", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  letter-spacing: 1vw;
  font-size: 8vw;
}

.store-container__merch-container {
  display: flex;
}

.store-container__merch-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  justify-content: space-evenly;
}

.store-container__merch {
  width: 100%;
  min-height: 10rem;
}

.store-container__merch-details-container {
  display: flex;
}

.store-container__details-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  align-items: flex-end;
}

.store-container__details {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 5px;
}

.store-container__detail {
  width: 100%;
  padding: 5px 0px 5px 0px;
}

.store-container__price {
  width: 25%;
}

.btn-container__shop-btn {
  width: 40%;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.shop-btn {
  width: 264px;
  height: 30px;
  max-width: 100%;
  color: #f6c82a;
  border-radius: 21px;
  background: #000000;
  text-transform: uppercase;
  font-family: "Sen", sans-serif;
  font-weight: 800;
  font-style: normal;
  position: relative;
  right: -150%;
}

/* PHOTOS */

.photos-container {
  background: url("images/tour-bg.png") no-repeat;
  background-size: cover;
  padding: 1rem;
}

.photos-container__title-wrapper {
  position: relative;
  width: 100%;
}

.photos-container__photos-title {
  width: 50%;
  height: 10vw;
  padding: 10px 0px;
  height: auto;
  font-family: "Sen", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
  letter-spacing: 1vw;
  font-size: 8vw;
}

.photos-container__photos-container {
  display: flex;
}

.releases-container__photos-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
}

.release-container__photo {
  flex: 1 0 15%;
  margin: 2px;
}

.btn-container__photos-btn {
  width: 40%;
}

.photos-btn {
  width: 264px;
  height: 30px;
  max-width: 100%;
  background: #f6c82a;
  border-radius: 21px;
  color: #000000;
  text-transform: uppercase;
  font-family: "Sen", sans-serif;
  font-weight: 800;
  font-style: normal;
  position: relative;
  right: -150%;
}

.some-img-wrapper {
  width: 20%;
  padding: 0px 5px 0px 0px;
}

.some-img-wrapper img {
  width: 100%;
}

/* SUBSCRIBE */

.subscribe-container {
  padding: 1rem;
  background: url("images/subscribe-bg.png") no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
}

.subscribe-container__title-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.subscribe-container__subscribe-title {
  height: 10vw;
  padding: 10px 0px;
  height: auto;
  font-family: "Sen", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
  letter-spacing: 1vw;
  font-size: 8vw;
}

/* FORM */

.parent-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.subscribe-container__form-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.subscribe-container__form {
  display: flex;
  flex-direction: row;
  padding: 0px 0px 20px 0px;
}

.email-address-container {
  padding: 0px 20px 0px 0px;
}

::placeholder {
  color: #f6c82a;
  opacity: 1;
}

.subscribe-container__form-placeholder {
  background: none;
  font-family: Sen;
  font-style: normal;
  font-weight: normal;
  font-size: 2.8vw;
  line-height: 28px;
  text-transform: uppercase;
  height: 40px;
  color: #f6c82a;
  border-top: hidden;
  border-right: hidden;
  border-left: hidden;
  border-color: #f6c82a;
  width: 200px;
}

.subscribe-container__email-text-container {
  display: flex;
  margin: 2%;
}

.subscribe-container__email-text-img-container {
  display: flex;
  padding: 10px 0px 0px 0px;
}

.subscribe-container__email-text {
  font-family: "Sedgwick Ave", cursive;
  text-transform: uppercase;
  font-style: normal;
  color: white;
}

.subscribe-container__checkbox-form {
  display: flex;
  flex-direction: row;
  margin: 1%;
}

.subscribe-container__checkbox-form-placeholder {
  font-family: "Sen", sans-serif;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  color: #fadf46;
  font-size: 2.3vw;
}

.subscribe-container__private-policy-container {
  display: flex;
  width: 100%;
}

.subscribe-container__private-policy-img-container {
  display: flex;
  padding: 10px 0px 10px 0px;
}

.subscribe-container__private-policy {
  height: 70%;
  text-transform: uppercase;
  font-family: "Sen", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: white;
  white-space: nowrap;
  font-size: 1.8vw;
}

.umg-text {
  color: #fadf46;
}

.btn-container__submit-btn {
  width: 40%;
}

.submit-btn {
  width: 264px;
  height: 30px;
  max-width: 100%;
  background: #f6c82a;
  border-radius: 21px;
  color: #000000;
  text-transform: uppercase;
  font-family: "Sen", sans-serif;
  font-weight: 800;
  font-style: normal;
  position: relative;
}

/* FOOTER */

.footer-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.footer-container__banner {
  position: relative;
  width: 100%;
  background: black;
  height: 8vw;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.footer-container-footer-items {
  display: flex;
  list-style: none;
}

.footer-container-footer-items p {
  color: #f6c82a;
  font-family: Sen;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
  padding: 10px 10px 0px 0px;
  width: 100%;
  font-size: 1.3vw;
  white-space: nowrap;
}

.footer {
  position: relative;
}

.footer-text {
  position: absolute;
  top: 14px;
  width: 100%;
}

/* DESKTOP CSS */

@media only screen and (max-width: 125px) {
}
